
* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES START */

header {
    background-color: #200a4d;
    /* overflow: auto; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}

header h1 {
    color: white;
    display: inline;
    background-color: #b291f2;
    padding: 5px 8px 5px 35px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

header .name {
    margin-top: 20px;
}

nav {
    list-style: none;
    float: right;
    display: inline;
    margin-top: 30px;
}

nav ul li {
    display: inline;
    margin: 0 40px;
    background-color: #b291f2;
    padding: 8px;
    border-radius: 8px;
}

nav a:hover {
    color: #200a4d;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* HEADER STYLES END */

/* COVER PHOTO STYLES START */

.cover-photo {
    height: 240px;
    position: relative; 
    background-image: url("https://i.imgur.com/Qplehio.png");
}

.cover-photo h2 {
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size: 50px;
    color: #200a4d;
    text-decoration: underline 5px solid #200a4d;
}

/* COVER PHOTO STYLES END */

/* ABOUT ME STYLES START */

.container-about {
    padding: 40px;
}

.aboutme-title {
    display: inline-block;
    height: 300px;
    text-align: right;
    vertical-align: top;
    border-right: solid 7px #b291f2;
    padding-right: 15px;
    font-size: 40px;
    color: #200a4d;
}

.aboutme-text {
    display: inline-block;
    width: 70%;
    padding-left: 30px;
}

/* ABOUT ME STYLES END */

/* WORK STYLES START */

.portfolio-sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-title {
    display: inline-block;
    height: 860px;
    text-align: right;
    vertical-align: top;
    padding-right: 15px;
    font-size: 40px;
    color: #200a4d;
    width: 252px;
    border-right: solid 7px #b291f2;
}

.portfolio-sites {
    display: inline-block;
    position: absolute;   
}

.run-buddy {
    max-width: 850px;
    height: 400px;
    background-image: url("https://i.imgur.com/oczy40F.png");
    border: 10px solid #200a4d;
    margin-left: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

.run-buddy:hover {
    opacity: 70%;
}

.main-project {
    background-color: #200a4d;
    color: white;
    width: 17%;
    margin-top: 300px;
}

.main-project-sub {
    background-color: #200a4d;
    color: white;
    width: 17%;
}

.table-sites {
    border-spacing: 20px;
    margin-left: 25px;
}

.table-sites-data {
    border: 10px solid #200a4d;
    width: 403px;
    height: 160px; 
}

.pastel-puzzles {
    background-image: url("https://i.imgur.com/DGbhxwz.png");
}

.calculator {
    background-image: url("https://i.imgur.com/DGbhxwz.png");
}

.horiseon {
    background-image: url("https://i.imgur.com/Y0ZRXYh.png");
    background-size: 405px 163px;
}

.surf-report {
    background-image: url("https://i.imgur.com/DGbhxwz.png");
}

.table-sites-data:hover {
    opacity: 70%;
}

.projects-title {
    font-size: 22px;
}

.projects {
    background-color: #200a4d;
    color: white;
    width: 17%;
    position: absolute;
    padding: 3px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 12px;
}

/*  WORK STYLES END */

/* CONTACT STYLES START */

.contact {
    padding: 40px;
}

.contact-title {
    width: 212px;
    height: 300px;
    text-align: right;
    vertical-align: top;
    padding-right: 15px;
    font-size: 40px;
    color: #200a4d;
    border-right: solid 7px #b291f2;
    display: inline-block;
}

.contact ul {
    display: inline-block;
    list-style: none;
    margin-top: 100px;
}

.contact ul li {
    display: inline;
    margin: 50px;
    font-size: 22px;
}

.contact ul li:hover {
    background-color: #b291f2;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 40px;
}

.contact ul li a {
    text-decoration: none;
    color: black;
}

/* CONTACT STYLES END */

@media screen and (max-width: 980px) {
    .aboutme-title {
        display: flex;
        height: 100px;
        border-right: none;
        text-align: center;
        text-decoration: underline;
        justify-content: space-around;
    }

    .aboutme-text p {
        text-align: center;
        padding-left: 25%;
    }

    .work-title {
        margin: auto;
        display: flex;
        height: 100px;
        border-right: none;
        text-align: center;
        justify-content: space-around;
    }

    .portfolio-sites {
        margin-left: none;
    }

    .contact-title {
        display: flex;
        flex-wrap: wrap;
        border-right: none;
    }
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: none;
    }

    .contact-title {
        text-align: center;
    }

    .contact ul li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-basis: auto;
        
    }

}

